<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>DEPT TABLE</h1>
        <table border="4px">
            <tr>
                <th>dname</th>
                <th>deptno</th>
            </tr>
            {% for do in dept %}
              <tr>
                <td>{{do.dname}}</td>
                <td>{{do.deptno}}</td>
              </tr>
              {% endfor %}
        </table>
    </center>
</body>
</html>